
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffdef9;
    color: #150120;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1000px;
   
    
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #230441;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.menu-crud a {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    background-color: #ff008c;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-crud a:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

/* Estilos de Botões de Ação na Tabela */
.action-btn {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.9em;
}

.btn-view { background-color: #28a745; color: white; }
.btn-edit { background-color: #ffc107; color: #333; }
.btn-delete { background-color: #dc3545; color: white; }